# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?





logbuch.md
verein_&_use_cases.txt
Verzeichnis.txt
Wochenplan_Fallstudie_IPWA01-01.md
anforderungen_web_fallstudie.md
Eingaben.txt
Tagesreviewcl.txt
Funktionen.md